@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  /* background-image: url("./assets/images/headerImg.jpg"); */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}

.Electrolize {
  font-family: "Electrolize", sans-serif;
}

.KoHo {
  font-family: "KoHo", sans-serif;
}

.Rubik {
  font-family: "Rubik", sans-serif;
}

.Raleway {
  font-family: "Raleway", sans-serif;
}
.RampartOne {
  font-family: "Rampart One", sans-serif;
}

.Rancho {
  font-family: "Rancho", cursive;
}
